* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #a9a9a9; 
}
.container {
    margin: 0 auto;
    border-radius: 15px;
}
.box {
    border: 1px solid black;
    max-width: 550px;
    min-width: 400px;
}
h1 {
    font-size: 6.5rem;
}
span {
    font-size: 4.5rem;
    color: #04175a;
}
input, select {
    border: 1px solid #000000;
    height: 60px;
}
.address {
    height: 175px;
    border: 1px solid #000000;
}
button {
    background-color:#ff0000;
    border: none;
    margin-top: 65px;
}
@media (max-width: 575px) {
    .box {
        max-width: 100%;
        min-width: 100%;
    }
    input , select {
        height: 40px
    }
    html {
        font-size: 40%;
    }
    button {
        margin-top: 20px;
    }
}
@media (max-width: 372px) {
    h1 {
        font-size: 5rem;
    }
    span {
        font-size: 3rem;
    }
}
@media (max-width: 906px) {
    h1 {
        text-align: center;
    }
}